<footer>
    <div class="container">
        <div>
            <ul>
                <li>
                    <a href="#">link 1</a>
                </li>
                <li>
                    <a href="#">link 2</a>
                </li>
                <li>
                    <a href="#">link 3</a>
                </li>
            </ul>
        </div>
        <div>
            <form action="">
                <label>
                    <input type="text">
                </label>
                <label>
                    <input type="text">
                </label>
                <label>
                    <input type="text">
                </label>
                <button>Send</button>
            </form>
        </div>
        <div>
            logo
        </div>
    </div>
</footer>